<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Visiting Card</title>
    <style>
        img {
            float: left;
            margin-right: 50px;
            border-radius: 50%;
            width: 100px;
            height: auto

        }

        body::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
<!-- https://qph.cf2.quoracdn.net/main-qimg-8c04030c97d73d8fd7eca70cc747fbf8.webp-->
    <img src="static/images/Hitesh.png" alt="Profile Pictures" />
    <h1>Hitesh Narayan</h1>
    <b><em>Incoming student @USC-CS</em></b><br>
    <b>I am interested in Python and data science</b>
    <br><br><br>
    <hr>
    <h3><b><u>Experience</u></b></h3>
    <ul>
        <li><h4>Management Trainee:</h4>Worked as a trainee in data science and analytics department</li>
        <li><h4>Data Science Intern:</h4>Worked on Amazon S3 bucket and explored various tools of AWS </li>
    </ul>
    <hr>
    <h3><b><u>Skills</u></b></h3>
    <ul>
        <li>Python: 3/5 </li>
        <li>C++: 1/5 </li>
        <li>Html: 3/5 </li>
        <li>CSS: 3/5 </li>
    </ul>

</body>
</html>
