{% include "header.html" %}
<body>
    <div class="container mt-5">
    <div class="accordion" id="deleted-posts">
      {% for post in deleted_posts %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ post.id }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ post.id }}" aria-expanded="true" aria-controls="collapse{{ post.id }}">
            {{ post.title }} - {{ post.subtitle }} by {{ post.author }} on {{ post.date }}
          </button>
        </h2>
        <div id="collapse{{ post.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ post.id }}" data-bs-parent="#deleted-posts">
          <div class="accordion-body">
            <p>{{ post.body|safe }}</p>
            <a class="btn btn-primary" href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

{% include "footer.html" %}
