<!DOCTYPE HTML>

<html>
	<head>
		<title>Hitesh_Title_Card</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Hitesh Narayana</h1>
						<p><span style='text-decoration: underline;'>Pro</span>grammer &nbsp;&bull;&nbsp; Music🎧 &nbsp;&bull;&nbsp; Podcast⛰️</p>
					</header>

				<!-- Footer -->

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>